<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Error Page!</title>
</head>

<body>
    <div class="container">
        <h1>Sorry mate, seems that You can't use this webapp properly!</h1>
        <b><span th:if="${errorMessage}" th:text="${errorMessage}">Error</span></b>
        <br>
        <img th:src="@{/images/oh_no.png}" alt="OH NO" width="auto" height="300px"/>
        <br>
        <br>
        <div class="row mt-3">
            <div class="col-md-3">
                <button onclick="history.back()" class="btn btn-secondary" role="button">Go back</button>
            </div>
            <div class="col-md-3">
                <a sec:authorize="hasAuthority('SALESMAN')" th:href="@{/salesman}" class="btn btn-info" role="button">Go back to the main page</a>
                <a sec:authorize="hasAuthority('MECHANIC')" th:href="@{/mechanic}" class="btn btn-info" role="button">Go back to the main page</a>
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-info" role="button">Go to login</a>
            </div>
        </div>
    </div>
</body>

</html>
